/* General Blueprint Style */
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
  font-family: 'Proxima Nova Light';
  color: #fff;
  background: #a25cc6;
}

.bold {
	font-family: 'Proxima Nova Semibold'
}

#main-navbar {
  height: 50px;
  background: #414042;
}

.main-navbar{
  font-size: 20px;
  color: white;
}

.main-navbar:hover {
  color: white;
}

#brand {
  height: 30px;
  margin-top: 10px;
  margin-left: 16px;
}

#login-button {
  margin-top: 7px;
  margin-right: 16px;
  margin-left: 16px;
  font-size: 18px;
  font-family: 'Proxima Nova Regular';
}

#signup-button {
  margin-top: 7px;
  margin-right: 5px;
  font-size: 18px;
  color: a25cc6;
  font-family: 'Proxima Nova Regular';
}

#jobs-button {
  margin-top: 7px;
  margin-right: 0px; 
  font-size: 18px;
  color: #f5f5f5;
  font-family: 'Proxima Nova Regular';
}

#blog-button {
  margin-top: 7px;
  margin-right: 0px; 
  font-size: 18px;
  color: #f5f5f5;
  font-family: 'Proxima Nova Regular';
}

#team-button {
  margin-top: 7px;
  margin-right: 0px; 
  font-size: 18px;
  color: #f5f5f5;
  font-family: 'Proxima Nova Regular';
}

#mission-button {
  margin-top: 7px;
  margin-right: 1px; 
  font-size: 18px;
  color: #f5f5f5;
  font-family: 'Proxima Nova Regular';
}

.container-wrap {
  padding-top: 80px;
  padding-bottom: 500px;
  background:#4984b8;
}

.container-content {
  max-width: 1050px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

#hero-mark {
  height: 60px;
  -webkit-animation-duration: 1.5s;
  	 -moz-animation-duration: 1.5s;
  			 -animation-duration: 1.5s;
}

#hero-word {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 100px;
}

#executive-regular {
  -webkit-animation-duration: 2s;
  	 -moz-animation-duration: 2s;
  			 -animation-duration: 2s;
	-webkit-animation-delay: 2s;
  	 -moz-animation-delay: 2s;
  			 -animation-delay: 2s;
 height: 410px;
 margin-top: 35px;
 margin-right: 200px;
  
}

#secretary-regular {
  -webkit-animation-duration: 2s;
  	 -moz-animation-duration: 2s;
  			 -animation-duration: 2s;
	-webkit-animation-delay: 2s;
  	 -moz-animation-delay: 2s;
  			 -animation-delay: 2s;
  height: 410px; 
  margin-top: 35px;
 
}

.header-text {
	font-family: 'Proxima Nova Light';
	font-size: 28px;
	text-align: center;
}

#line1 {
	-webkit-animation-duration: 2s;
  	 -moz-animation-duration: 2s;
  			 -animation-duration: 2s;
	-webkit-animation-delay: 0.5s;
  	 -moz-animation-delay: 0.5s;
  			 -animation-delay: 0.5s;
        margin-bottom: 0px;
        font-size: 85px;
        font-family: 'Proxima Nova Regular';
}

#line2 {
	-webkit-animation-duration: 2s;
  	 -moz-animation-duration: 2s;
  			 -animation-duration: 2s;
	-webkit-animation-delay: 1s;
  	 -moz-animation-delay: 1s;
  			 -animation-delay: 1s;
        font-size: 20px;
        font-family: 'Proxima Nova Light';
}

#description {
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: left;
	-webkit-animation-duration: 2s;
  	 -moz-animation-duration: 2s;
  			 -animation-duration: 2s;
	-webkit-animation-delay: 1.5s;
  	 -moz-animation-delay: 1.5s;
  			 -animation-delay: 1.5s;
}

#lead-form {
	-webkit-animation-duration: 2s;
  	 -moz-animation-duration: 2s;
  			 -animation-duration: 2s;
	-webkit-animation-delay: 2s;
  	 -moz-animation-delay: 2s;
  			 -animation-delay: 2s;
}

#main-footer {
  height: 120px;
  padding-top: 15px;
  text-align: center;
}

.footer-link {
  font-size: 12px;
  
  color: white;
}

.footer-link:hover {
  color: white;
}

.vertical-divider {
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 25px;
  color: #f5f5f5;
}

.footer-vertical-divider {
  margin-left: 18px;
  margin-right: 18px;
  font-size: 18px;
  color: #e8d9ee;
}

#copyright {
  margin-top: 20px;
  font-size: 12px;
  color: #e8d9ee;
}

#made {
  font-size: 12px;
  color: #e8d9ee;
}

#heart {
  margin-right: 3px;
  margin-left: 2px;
}

.title-banner {
  padding-top: 140px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  background: black;
}

.title-text {
	max-width: 672px;
	margin-right: auto;
	margin-left: auto;
}

.legal-label {
	color: #a7a9ac;
	font-family: 'Proxima Nova Light';
	font-size: 14px;
	letter-spacing: 3px;
}

.legal-title {
	margin-bottom: 10px;
	font-family: 'Proxima Nova Light';
	font-size: 30px;
}

.last-modified {
	font-family: 'Proxima Nova Regular';
}

.legal-modified-date {
	margin-left: 5px;
  padding: 3px 8px;
  padding-bottom: 2px;
  font-family: 'Proxima Nova Regular';
  font-size: 13px;
	color: white;
	background: #414042;
	border-radius: 3px;
}

.legal-wrap {
	padding: 30px;
	padding-bottom: 140px;
	background: white;
}

.legal-content {
	max-width: 672px;
	margin-right: auto;
	margin-left: auto;
        color: black;
}

/*a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.container > header {
	padding: 2.875em 1.875em 1.875em;
	position: fixed;
	z-index: 1000;
	width: 60%;
	left: 20%;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0;
	float: left;
	font-weight: 400;
}

.container > header span {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header nav {
	float: right;
}

.container > header nav a {
	display: block;
	float: left;
	position: relative;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	color: transparent;
	margin: 0 0.1em;
	border: 4px solid #fff;
	text-indent: -8000px;
}

.container > header nav a:after {
	content: attr(data-info);
	color: #fff;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	opacity: 0;
	pointer-events: none;
}

.container > header nav a:hover:after {
	opacity: 1;
}

.container > header nav a:hover {
	background: #47a3da;
}

.icon-drop:before,
.icon-arrow-left:before {
	font-family: 'fontawesome';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 2;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
	text-indent: 8000px;
	padding-left: 8px;
}

.container > header nav a:hover:before {
	color: #fff;
}

.icon-drop:before {
	content: "\e000";
}

.icon-arrow-left:before {
	content: "\f060";
}*/
